  <div class="gig-summary">
    <p class="date">8pm, {{ gig.date | dateDisplay }}</p>
    <h2><a href="{{ gig.url }}">{{ gig.data.title}}</a></h2>
    <div class="acts">
    {# headliner act #}
    {% set act = gig.data.acts[gig.data.acts.length-1] %}
    {% set actClass = "headliner" %}
    {% include "act.njk" %}

    {# opening act #}
    {% set act = gig.data.acts[0] %}
    {% set actClass = "opener" %}
    {% include "act.njk" %}

    {# supporting acts #}
    {% for act in gig.data.acts  %}
      {% if not loop.first and not loop.last %}
        {% set actClass = "act-" + loop.index %}
        {% include "act.njk" %}
      {% endif %}
    {% endfor %}
    </div>

    {% if gig.data.soldout == true %}
    <p class="stamp stamp-sold-out">Sold out</p>
    {% else %}
    <a href="{{ gig.data.ticketLink }}" target="_BLANK" rel="noopener" class="btn btn-tickets">Buy tickets: <span class="price">£10</span></a>
    {% endif %}
    <div>
      <a href="{{ gig.url }}">More details</a> about this gig
    </div>
  </div>
