<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Humdingers Comedy {% if title %} - {{ title }} {% endif %}</title>
     <meta name="description" content="A regular pro comedy night in St Albans, UK"
    <link rel="canonical" href="https://www.humdingerscomedy.com{{ page.url }}" />
    <meta name="google-site-verification" content="gHK5lp86lzs6ASAC7beEu6r-wHINQUCcb6D1c8etiXg" />
  </head>
  <body class="{{ pageCLass }}" >
    <div class="filter">
    <header>
      <div class="container">
        <div class="wordmark">
          <ul class="nav">
            <li><a href="/shows">shows</a></li>
            {# <li><a href="/tickets">tickets</a></li> #}
            <li><a href="/venue">venue</a></li>
          </ul>
          <img class="logo-mic" src="/images/dandy-mic-white.svg" alt="mic">
          <h1 class="logo"><a href="/">Humdingers Comedy</a></h1>
          <p class="subtitle">Bringing the best comedy talent to St Albans</p>
        </div>
      </div>
    </header>
      <div class="container">
      {{ content | safe }}
      </div>
    <footer>
      <div class="container">

        {% if title != "Thanks" %}
        <form name="newsletter" netlify-honeypot="full-name" action="/thanks" netlify>
          <h2>Sign up for news and events</h2>
          <p>
            Tired of missing your chance to get tickets? Want to get early notifications of future gig dates and line ups? Sign up to our newsletter.
          </p>
          <p class="aside">
            Your email is precious. We'll take care of it and you can unsubscribe at any time. You can expect ot hear from us no more than once or twice a month.
          </p>
          <p class="honey">
            <label>Your full name: <input name="full-name"></label>
          </p>
          <p>
            <label for="email">Your email address: <small class="aside">(we promise to take care of it)</small></label>
            <input type="email" name="name" id="email">
          </p>
          <p>
            <button type="submit" class="btn">Sign me up!</button>
          </p>
        </form>
        {% endif %}
        <p>
          Humdingers Comedy is brought to you by Humdingers Comedy Ltd, the people behind <a href="https://www.comedyinthecrown.com">Comedy in The Crown</a>.
        </p>
      </div>
    </footer>
    </div>
  </body>
</html>
