<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Humdingers Comedy {% if title %} - {{ title }} {% endif %}</title>
    <link rel="canonical" href="https://www.humdingerscomedy.com{{ page.url }}" />
  </head>
  <body class="{{ pageCLass }}" >
    <div class="filter">
    <header>
      <div class="container">
        <div class="wordmark">
          <ul class="nav">
            <li><a href="/shows">shows</a></li>
            <li><a href="/tickets">tickets</a></li>
            <li><a href="/venue">venue</a></li>
          </ul>
          <img class="logo-mic" src="/images/dandy-mic-white.svg" alt="mic">
          <h1 class="logo"><a href="/">Humdingers Comedy</a></h1>
          <p class="subtitle">Bringing the best comedy talent to St Albans</p>
        </div>
      </div>
    </header>
      <div class="container">
      {{ content | safe }}
      </div>
    <footer>
      <div class="container">
        {# <p>
          <a href="https://twitter.com/">Twitter</a>
          <a href="https://instagram.com/">Instagram</a>
        </p> #}
        <p>
          Humdingers Comedy is brought to you by Humdingers Comedy Ltd, the people behind <a href="https://www.comedyinthecrown.com">Comedy in The Crown</a>.
        </p>
      </div>
    </footer>
    </div>
  </body>
</html>
