@import '_variables';
@import '_fonts';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $page-color;
}

body {
  text-align: center;
  width: 100%;
  color: mix($text-color, $page-color, 90%);
  font-family: sans-serif;
  font-weight: 30;
  font-size: 16px;
  line-height: 1.8;
  background-color: $page-color;
  background-image: url('/images/red-curtain-fade.jpg');
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: center;
  background-size: 200%;
  z-index: 0;
  @include bp(narrow) {
    background-size: 180%;
    font-size: 17px;
  }
  @include bp(mid) {
    background-size: 120%;
    font-size: 18px;
  }
  @include bp(wide) {
    background-size: 100%;
  }

}

.container {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 90%;
  @include bp(mid) {
    width: 600px;
  }
  @include bp(wide) {
    width: 900px;
  }

  img {
    width: 100%;
  }
}

header,
footer {
  .container {
    text-align: center;
  }
}
header {
  margin-bottom: 3em;
}

.content {
  @include bp(wide) {
    margin-left:auto;
    margin-right:auto;
    width: 700px;
  }

}
.section {
  margin-bottom: 4em;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom: solid 0.1em mix($text-color, $page-color, 90%);
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom: solid 0.1em $text-color;
}


h1 {
  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom-style: none;
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom-style: none;
  }
}

h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  margin-top:0em;
  margin-bottom:1em;
  line-height: 1em;
  font-family: 'league_gothicregular';
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  display: inline-block;
  font-size: 3em;
  line-height: 0.9em;
  margin-bottom:0em;
  padding-bottom:0em;
  border-bottom-style: solid;
  border-bottom-color: #fff;;
  border-bottom-width: 0.1em;

  @include bp(narrow) {
    font-size: 4em;
  }
  @include bp(mid) {
    font-size: 5em;
  }
  @include bp(wide) {
    font-size: 6em;
  }
}

h2 {
  font-size: 2em;
  @include bp(mid) {
    font-size: 2.6em;
  }
}
h3 {
  font-size: 1.6em;
  @include bp(mid) {
    font-size: 1.8em;
  }
}


p {
  margin-bottom: 1em;
}

p.subtitle {
  margin-top: 1em;
  line-height: 1.2;
}

p.date {
  font-size: 1em;
  color: $text-color;
  margin-bottom: 0em;
}

address {
  font-style: normal;
  line-height: 1.3;
  margin-top: 1em;
  margin-bottom: 1em;
}

.stamp {
  display: inline-block;
  margin-bottom:1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  font-family: 'league_gothicregular';
  text-transform: uppercase;
  font-weight: normal;
  font-size:1.4em;
  color: $text-color;
  text-transform: uppercase;
  border-width: 0.2em;
  border-color: $text-color;
  border-style: solid;
  border-radius: 0.4em;
  opacity: 0.9;
  transform: rotate(-10deg);
  line-height: 1;
}

.stamp-act-label {
  margin-bottom: -0.3em;
}

.stamp-sold-out {
  font-size: 3em;
}

ul, ol {
  padding-left: 1em;
}

img.logo-mic {
  width: 3em;
  margin-bottom: 0.4em;
  display: block;
  margin-left:auto;
  margin-right:auto;
  @include bp(mid) {
    margin-bottom: -1.1em;
    width: 4em;
    display: inline-block;
  }
  @include bp(wide) {
    margin-bottom: -1.3em;
    width: 5em;
  }
}


.wordmark {
  margin-top: 3em;
  display: inline-block;
  z-index: 1;
}


.nav {
  margin-bottom: 2em;
  z-index: 2;
  @include bp(mid) {
    margin-bottom: -2.5em;
  }
  @include bp(wide) {
    margin-bottom: -3.5em;
    margin-top: 1em;
  }
  li {
    display: inline;
  }
  a:link,
  a:visited {
    display: inline-block;
    border-bottom-style: none;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.8;
    text-align: left;
    color: mix($text-color,$page-color, 100%);
    text-decoration: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  a:hover,
  a:focus {
    color: $page-color;
    background-color: #fff;

  }
}

.gig-summary {

  h2 {
    margin-bottom:2em;
    padding-top:0;
  }

  .act {
    display: block;
    text-align: center;
    @include bp(mid) {
      display: inline-block;
    }
  }
  .act-2,
  .act-3 {
    @include bp(mid) {
      width: 49%;
      margin-top: -10em;
      display: inline-block;
    }
  }
  .act-2 {
    @include bp(mid) {
      margin-left:0;
    }
  }
  .act-3 {
    @include bp(mid) {
      margin-right:0;
    }
  }

  .opener {
    display: block;
  }
  .headliner {
    display: block;
    margin-top: -2em;
    margin-bottom: 2em;

    h3.act-name {
      font-size: 2.2em;
    }
  }

  h3.act-name {
    display: inline-block;
    background-color: $text-color;
    color: $page-color;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-family: 'league_gothicregular';
    text-transform: uppercase;
    font-weight: normal;
    font-size:1.6em;
    text-transform: uppercase;
    border-radius: 0.2em;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 100px;
    border-radius: 20px;
    border-width: 6px;
    border-style: solid;
    border-color: $text-color;
  }
  .opener {
    img {
      width: 140px;
    }
  }
  .headliner {
    img {
      width: 200px;
    }
  }

}


a.btn {

  font-family: 'league_gothicregular';
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.4em;

  &:link,
  &:visited {
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    background-color: $text-color;
    color: $page-color;
    border-radius: 0.2em;
    // box-shadow: 0 0 4px 3px rgba(255,255,255, 0.4);
    box-shadow: 0 0 16px 6px rgba(255,255,255, 0.4);
    border-top: solid 1px #fff;
    border-bottom: solid 1px #111;
  }

  &:hover,
  &:focus {
    // margin-top: 0.8em;
    box-shadow: 0 0 22px 8px rgba(255,255,255, 0.4);
    border-top: solid 0px #fff;
    border-bottom: solid 2px #111;
  }


}



footer {
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 6em;
  font-size: 0.7em;
  color: mix($text-color, $page-color, 40%);

  a:link,
  a:visited {
    color: mix($text-color, $page-color, 70%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
}


