---
title: Humdingers Comedy
layout: layouts/base.njk
---

{% for event in collections.show | reverse %}
  {% if loop.first %}
    {% set gig = event %}
    {% include 'gigSummary.njk' %}
  {% endif %}
{% endfor %}

<h2>Your night at Humdingers Comedy</h2>
<p>
  Fully licensed bar, severing before and after the show, and during the interval.
</p>
<p>
  Bar open from 7pm. Doors open at 7:30pm. Show begins at 8pm. <br /> Late arrival may not be admitted during the acts.
</p>
<p>
  Running time approx 2hrs 30 minutes, including a 30 minute interval.
</p>
<p>
  On site parking available.
</p>





