---
title: Humdingers Comedy
layout: layouts/base.njk
pageCLass: home
---

{% for event in collections.show | reverse %}
  {% if loop.first %}
    {% set gig = event %}
    {% include 'gigSummary.njk' %}
  {% endif %}
{% endfor %}






