---
layout: layouts/base.njk
title: Shows
---

<div class="section">
  <h2 class="stamp">Coming up</h2>
{% for gig in collections.publishedShows | reverse %}
  <p class="date">8pm, {{ gig.date | dateDisplay }}</p>
  <h2 class="gig-title"><a href="{{ gig.url }}">{{ gig.data.title}}</a></h2>
  {% if loop.first %}
</div>
<div class="section">
  <h2 class="stamp">Memory lane</h2>
  {% endif %}
{% endfor %}
</div>

